::-webkit-scrollbar {
    width: 3px !important; 
  }

  ::-webkit-scrollbar-thumb {
    background: #BEBEBE !important; 
    border-radius: 10px !important;
    max-height: 94px !important;
  }

  
  