.p-datatable-header {
  border: none;
}

.ant-tabs-nav-wrap {
  height: 57px !important;
}

.pi-search {
  display: none !important;
}

.custom-input::placeholder {
  color: #888;
  font-size: 5px !important;
}

.ant-tabs-nav-more {
  display: none !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
}

.ant-image-mask:hover {
  display: none !important;
}

.origin-cell {
  text-align: start !important;
}
.bodycell {
  text-align: start !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: auto;
}
.filter {
  border: 1px solid #e7eaf0 !important;
  padding: 5px 20px 0 20px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  height: 36px !important;
}

.ant-input {
  font-family: "Roboto", sans-serif !important;
}
.booked {
  background-color: #008000 !important;
}
.waringBtn {
  background-color: #fddc69 !important;
  color: black !important;
  border-color: #fddc69 !important;
  font-weight: 500 !important;
}
.dangerBtn {
  background-color: #d32d2f;
}

.dangerBtn:focus {
  box-shadow: none !important;
}
.waringBtn:focus {
  box-shadow: none !important;
}
.booked:focus {
  box-shadow: none !important;
}

#customers {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

#customers td {
  padding: 8px;
}
#customers th {
  padding-left: 8px;
  padding-right: 8px;
}
/* #customers tr:nth-child(odd) {
  background-color: rgba(185, 178, 178, 0.29);
} */

/* #customers tr:hover {
  background-color: #ddd;
} */

#customers th {
  height: 36px;
  text-align: center;
  background-color: #3c3844;
  color: white;
  font-size: 13px;
  font-weight: 700;
}
#customers td {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  height: 50px;
  line-height: 19.2px;
}
.btnfamily {
  font-family: "Lato" !important;
  font-size: 20px;
  font-weight: 500;
  margin-top: -5px;
}
.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #797979;
  margin-top: 5px;
}

.custom-checkbox:checked + label {
  background-color: rgb(241, 226, 226);
  border-color: black;
}

.custom-checkbox:checked + label:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
/* .animate {
  animation: blossom 1.5s ease forwards infinite;
} 

@keyframes blossom {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) rotate(5deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
} */
/* upload_section_styling */

.document_type_section .document_type_row {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e7eaf0;
  margin-left: 1px;
}
.left_details > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.01em !important;
}
.Shipper_title p:nth-child(1) {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.01em !important;
  color: #181e25;
}
.Shipper_title p:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em !important;
  color: #384656;
}
.upload_section .title_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em !important;
  color: #181e25;
}
.upload_section .add_saved_address {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em !important;
  color: #495a6e;
  text-align: right;
}

/* document_type_section */

.document_type_section {
  margin-bottom: 30px;
}
.document_type_section .left_details {
  margin-bottom: 20px;
}
.document_type_section .right_details {
  margin: 0px 19px;
}

/* custom_radio_button */
.document_type_section .radio_list {
  display: flex;
  justify-content: start;
  align-items: center;
}
.document_type_section .radio_list input[type="radio"] {
  display: none;
  margin-left: 50px;
}
.document_type_section .radio_list .radio_item {
  margin-right: 15px;
}
.radio_item label {
  display: block;
  padding: 5px 10px 5px 40px !important;
  border: 1px solid #e7eaf0;
  border-radius: 42px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #29333d;
  white-space: nowrap;
  position: relative;
}
.document_type_section .radio_item label:after,
.document_type_section .radio_item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.document_type_section .radio_item label:after {
  height: 16.4px;
  width: 16.4px;
  border: 1.64px solid #94a2b2;
  border-radius: 8.2px;
  left: 20px;
  top: calc(50% - 8px);
}
.document_type_section .radio_item label:before {
  height: 8.2px;
  width: 8.2px;
  background-color: rgb(255, 9, 9);
  left: 24px;
  top: calc(50% - 4px);
  transform: scale(0);
}
.document_type_section .radio_list input[type="radio"]:checked ~ label:after {
  border-color: #d32d2f;
}
.document_type_section .radio_list input[type="radio"]:checked ~ label:before {
  background-color: #d32d2f;
  transform: scale(1);
}

/* upload_document_section */
.upload_document_section {
  margin-bottom: 30px;
}
.upload_document_section .left_details {
  margin-bottom: 20px;
}
.upload_document_section .right_details {
  margin: 0px 19px;
}
.upload_document_section .upload_document_row {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e7eaf0;
  margin-left: 1px;
}
.upload_document_section .ant-upload-wrapper {
  display: flex;
}
.upload_document_section .ant-upload-wrapper .ant-upload-list {
  width: 50%;
}

/* cargo_require_section */
.cargo_require_section .left_details {
  margin-bottom: 20px;
}
.cargo_require_section .right_details {
  margin: 0px 19px;
}
.cargo_require_section .cargo_require_row {
  padding-bottom: 20px;
  margin-left: 1px;
}
