.location-card .ant-card-body {
  padding: 20px;
}
.location-bar p {
  margin: 0 !important;
}

.p-label {
  font-weight: 500;
  font-size: 13px;
  color: #495a6e;
}

.p-value {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1%;
  color: #181e25;
}

.Service-Included .ant-card-body {
  padding: 10px 0px;
}

.Service-Included .ant-card-body .service-title {
  font-size: 16px;
  color: #000000e0;
  font-weight: 500;
}

.Service-Included .ant-card-body .Service-card {
  padding: 0px 24px !important;
}
